 <head>

     <meta charset="UTF-8">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="style.css">

     <base target="_blank">

     <title>exercices</title>

 </head>

 <body>

     <h1>Exercices NSI</h1>

 

     <H2>Python</H2>

 
    <h3>Pour le 06/04/2021</h3>
     <ul>
        <li><a href="documents/P8.py">P8</a></li>
        <li><a href="documents/Puissance4.py">Puissance 4</a></li>
        <li><a href="documents/A2.py">A2</a></li>
        <li><a href="documents/devine le nombre ordi-utilisateur.py">A2 : ex 155</a> devine le nombre</li>
     </ul>
    <h3>T</h3>
    <ul>
        <li><a href="documents/T1.py">T1</a></li>
    </ul>

 </body>

 </html>

